@media (max-width: 100%) {
  body {
    width: 100%;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
  margin: 0;
}

body img {
  width: 100%;
}

header {
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  height: fit-content;
  width: 102vw;
  margin: 0;
  margin-left: -5px;
  margin-right: 0px;
}
  .logo img {
    width: 300px;
    height: auto;
    margin-left: 10px;
    border-radius: 5px;
  }
  .logo {
    position: absolute; 
    left: 5px; 
    top: 50%; 
    transform: translateY(-50%); 
    border-radius: 5px;
  }
  a {
    color: white;
  }
  .account {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 20px;
  }
  .account a img {
    
    height: 40px;
    width: auto;
    padding-right: 7px;
  }
  .account a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease;
    border-radius: 5px;
  }
  .account a:hover {
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    color: black;
  }
  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
 
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease;
    border-radius: 5px;
  }
  nav ul li a.active {
    color: black; 
  }
  nav ul li a:hover {
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    color: black;
  }
  .container {
    flex: 1;
    background-color: rgb(19, 19, 19);
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
  }
  
  .large-paragraph {
    text-align: justify; 
    line-height: 1.5; 
  }
  footer {
    background-color: rgb(19, 19, 19);
    color: rgb(125, 125, 129);
    text-align: center;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    border-top: solid;
    border-width: 1px;
    border-color: white;
  }
  
  section {
    padding: 0; 
  }
  
  pre {
    padding: 2em 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 4px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: rgb(19, 19, 19);
    color: white;
  }
  
  td {
    background-color: rgb(19, 19, 19);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: azure;
  }

iframe {
  padding-left: 50px;
}

button {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-style: none;
  color: black;
  transition: background-color 0.2s ease;
}
button:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
.homeBtn {
  border-style: solid;
  border-width: 2px;
  transition: background-color 0.2s ease;
}
.homeBtn a{
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.homeBtn a:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 16px;
}
#saveBtn {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border-style: none;
  height: 40px;
  transition: background-color 0.2s ease;
}
#saveBtn.active {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border-style: none;
}
#saveBtn:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
#submit {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border-style: none;
  height: 40px;
  transition: background-color 0.2s ease;
}
#submit:hover {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
input {
  color: black;
  background-color: white;
  border-radius: 5px;
  height: 22px;
  border-style: none;
}
.calendar {
  text-align: center;
}


.image-overlay {
  position: relative;
  width: 100%;
}

.image-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-content,
.overlay-content-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-style: normal;
}

.formatted-paragraph {
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
  line-height: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.content-3 {
  font-size: 16px;
  width: 100%;
  background-color: white;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.content-2 {
  font-size: 16px;
  width: 100%;
  background-color: black;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 32px;
  margin: 0;
}
h1.special {
  font-size: 50px;
}
h3 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}
.graphic {
  width: 310px;
  height: auto;
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 4px solid black;
  padding: 5px;
  margin: 30px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.advert {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ghost-image {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.advert button {
  margin-top: -60px;
}

.ghost-image-2 {
  width: 100px;
  height: auto;
  border-radius: 5px;
}
